.main {
  min-height: 100vh;
}

.dark {
  background-color: gray;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details:has(div) {
  margin-left: 30px;
}

.details {
  align-self: center;
}
