@import '../../../styles/variables';
@import '../../../styles/mixins';

.label {
  @include form-label;

  &:has(.input[type='password']) div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .input {
    @include form-input;

    &:active,
    &:focus {
      outline: thin solid $color-focus;
    }
  }

  .error {
    @include validation-error;
  }
}
