@import 'fonts';
@import 'variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1 {
  margin-top: 0;

  text-align: center;
}

.container {
  max-width: $container-width;
  min-height: $content-height;
  margin: 0 auto;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
