@import 'variables';

@mixin form-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;

  font-size: 1rem;

  user-select: none;
}

@mixin form-input {
  width: 100%;
  min-width: $min-input-width;
  padding: 0.6rem;

  border: 1px solid $color-input-border;
  border-radius: 0.2rem;
}
