@font-face {
  src: url('/fonts/Montserrat-Regular.woff2');
  font-family: 'Montserrat';
  font-weight: 400;
}

body {
  position: relative;

  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1280px;
  display: flex;
  gap: 30px;
}

.container-right {
  align-self: center;
}

button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;

  font-size: 16px;

  cursor: pointer;
}

button.button-error {
  position: fixed;
  top: 5px;
  right: 5px;

  border-color: black;

  color: white;

  background-color: palevioletred;
}

button:active {
  transform: scale(0.98);
}

input {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;

  font-size: 16px;
}
