@import '../../styles/variables';

.summary {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  div {
    padding: 1rem;
    border: 1px solid $color-light-gray;
    border-radius: 0.4rem;

    color: white;

    background-color: $color-background-dark;

    & > div {
      padding: 1rem;
      border: 1px solid $color-light-gray;
      border-radius: 0;

      color: black;

      background-color: white;

      a {
        color: $color-primary;
      }
    }
  }

  img {
    width: 200px;
    display: flex;
  }
}
