@import '../../styles/variables';

.summary {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  div {
    padding: 1rem;
    border: 1px solid $color-light-gray;
    border-radius: 0.4rem;

    color: white;

    background-color: $color-background-dark;

    &:first-child {
      animation: blink 0.8s ease-in-out;
      animation-iteration-count: 2;
    }

    & > div {
      padding: 1rem;
      border: 1px solid $color-light-gray;
      border-radius: 0;

      color: black;

      background-color: white;

      a {
        color: $color-primary;
      }
    }
  }

  img {
    width: 200px;
    display: flex;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
