@import '../../../styles/variables';
@import '../../../styles/mixins';

.label {
  position: relative;

  @include form-label;

  .input {
    @include form-input;

    &:active,
    &:focus {
      outline: thin solid $color-input-active;
    }
  }

  .list {
    position: absolute;
    top: 3.4rem;

    padding: 1rem;
    max-height: 10rem;
    width: 100%;

    border: 1px solid $color-input-border;
    border-radius: 0.2rem;

    background-color: white;
    overflow: hidden scroll;

    li {
      cursor: pointer;
      list-style: none;
    }
  }
}
