.flyout {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 6px;
}

button.withIcon {
  width: 180px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.delete:before,
.back:before {
  color: red;
}

.remove:before {
  color: green;
}
